.t1 {
  color: var(--color-marron);
  font-size: 4rem;
  display: inline-block;
  line-height: 5rem;
  font-weight: 700;
}
@media (max-width: 650px) {
  .t1 {
    color: var(--color-marron);
    font-size: 3rem;
    display: inline-block;
    line-height: 3rem;
    font-weight: 700;
  }
}

.t2 {
  color: var(--color-marron);
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
}

.tligth {
  display: inline-block;
  line-height: 2.5rem;
  font-size: 2.2rem;
  color: var(--color-white);
}

.title {
  color: var(--color-marron);
  font-size: 3rem;
  font-weight: 700;
  display: block;
}

.paragraphe {
  color: var(--color-marron);
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
}
