.container {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  width: 95%;
  border-radius: 10rem;
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1.8rem;
  padding-left: 2.8rem;
  padding-bottom: 2rem;
  border-radius: 5rem;

  color: var(--font-color-black);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.input::placeholder,
.mobileInput::placeholder {
  color: var(--font-color-black);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.icon {
  font-size: 2.5rem !important;
  color: var(--font-color-black);
  margin-right: 2.5rem;
}

/* suggestion */
.suggestionContainer {
  position: absolute;
  background-color: var(--color-white);
  display: block;
  width: 95%;
  border-radius: 1.5rem;
  color: black;
  height: 35vh;
  margin-top: 1rem;
  overflow-y: hidden;
}

.suggestionOverflow {
  width: 98%;
  height: 100%;
  overflow-y: scroll;
  color: var(--font-color-black);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.suggestionOverflow::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.suggestionOverflow::-webkit-scrollbar-thumb {
  background-color: #5a5a5a98; /* Set the color of the thumb (the draggable part) */
  border-radius: 6px; /* Set the border radius of the thumb */
}

.suggestionOverflow::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the track (the area behind the thumb) */
}

.suggestion {
  display: block;
  text-decoration: none;
  padding: 1rem;
  padding-left: 2rem;
  color: var(--font-color-black);
}

.suggestion:hover {
  background-color: var(--color-gray-2);
  color: var(--font-color-black);
  text-decoration: none;
  cursor: pointer;
}

/* on mobile */
.mobileModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.655);
  z-index: 3000;
}

.mobileContainer {
  position: absolute;
  width: 95%;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.mobileSearch {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--font-color-black);
  margin-top: 6rem;
  border-radius: 10rem;
}

.mobileInput {
  width: 100%;
}

.suggestionMobile {
  width: 80%;
  margin: 2rem auto;
  background-color: var(--color-white);
  color: black;
  height: 50vh;
  overflow-y: hidden;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
